**/*.tfstate
**/.terraform/
**/.DS_Store
**/*.tfvars
**/*.env
**/**/.terraform
**/vars.secret.tf
**/*.tfvars
**/terraform.tfstate.*
**/.DS_Store
!**/**/*.pub
**/secrets/*.*
**/secrets/*/*
**/shared/*/*.key
!README*
.history/
**/*.bak

**/secrets*.yml
!**/secrets*.enc.yml
certs/
.project-uuid
